
@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  background-color: white;
  color: #4e4e4e;
  font-family: 'poppins', sans-serif ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #5669DB;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  text-decoration: none;
  color: #5669DB;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  text-decoration: none;
  color: #4e4e4e;
}

.box-shadow,
.card-blog,
.work-box,
.service-box,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}


.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}

@media (max-width: 950px) {
  .bg-image {
    background-position: 70% 100px;
  }
}

.overlay-mf {
  background-color: white;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  text-decoration: none;
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #5669DB;
  margin: 0 auto;
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #5669DB;
  width: 100px;
  bottom: -12px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 50px 0;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#header .logo img {
  max-height: 35px;
}

#header.header-scrolled {
  background: white ;
  padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 7px 10px 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

ul.menu li a {
  text-decoration: none ;
  position: relative; 
  z-index: 1; 
}

ul.menu li a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 158px;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  z-index: -1;
}


ul.menu li::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -15px;
      left: 60%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 158px;
      background-color: transparent;
      border-radius: 40px;
      transition: background-color 0.3s ease;
}


ul.menu li:hover a::before,
ul.menu li.active a::before {
    background-color: #5669DB;
}

ul.menu li:hover a,
ul.menu li.active a {
    color: white;
    font-weight: bold;
}

ul.menu li a {
  color: #000000;
  transition: color 0.3s ease;  
}

ul.menu li {
  margin: 0 10px;
  position: relative;
  margin-right: 20px;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #4e4e4e;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #5669DB;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #5669DB;
  font-size: 30px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  ul.menu li::after {
    display: none;
  }

}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 78, 78, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #ccccf1;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: white;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}


.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #5669DB;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
.hero {
  height: 100vh;
  position: relative;
  color: #000000;
}

.hero .hero-content {
  text-align: center;
  position: relative;
  top: 60%;
  left:50%;
  transform: translate(-50%, -50%); 
}

.hero .hero-title,
.hero .hero-subtitle {

  -webkit-text-stroke: 0.5px white;
  font-weight:bold; 
}


.hero .hero-title {
  color: #000000;
  font-weight: 600px;
  font-size: 3rem;
}

@media (min-width: 1000px) {
  .hero .hero-content {
    text-align: left; 
  }
}


@media (min-width: 768px) {
  .hero .hero-title {
    font-size: 4.5rem;
  }
}


.hero .hero-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .hero .hero-subtitle {
    font-size: 2.5rem;
  }
}



.hero .text-slider-items {
  display: none;
}

.hero-single {
  height: 350px;
}

.hero-single .hero-content {
  margin-top: 30px;
}

.hero-single .hero-title {
  text-transform: uppercase;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .hero-single .hero-title {
    font-size: 3.5rem;
  }
}

.hero-single .breadcrumb {
  background-color: transparent;
  color: #5669DB;
}

.hero-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.hero-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.hero-single .breadcrumb a {
  color: #fff;
}

.btn-secondary {
  background-color: #5669DB;
  color:white;
  border: 3px solid white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 20px;

}

.btn-secondary:hover {
  background-color: white;
  border: 3px solid #5669DB;
  color: #5669DB;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.skill {
  background-color: #efefef; 
  padding: 30px; 
  
}

.about-c {
  padding: 30px; 
}

.about-mf .box-shadow-full {
  box-shadow: none; 
  background-color: transparent; 
  border: none; 
}

.about-mf .about-img {
  margin-bottom: 0; 
  height: auto; 
}

.about-mf .about-me {
  padding-top: 20px; 
}

.about-mf {
  background-color: white;
  margin-top: 150px;
  margin-bottom: 100px;
}

.about-info {
  font-size: 18px;
  margin-top: 15px;
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}


.skill-mf span {
  color: #4e4e4e;
}

.skill-mf  {
  margin-top: 20px;
}

.skill-mf .progress {
  background-color: #b3b9d9;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #5669DB;
}

.download-cv {
  margin-top: 40px;
}

.btn-danger {
  background-color: #5669DB;
  color:white;
  border: 2px solid white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .btn-danger {
    width:100%;
  }
}
.btn-danger:hover {
  background-color: white;
  border: 2px solid #5669DB;
  color: #5669DB;
}


.card .carousel-item img {
  height: 250px; 
  object-fit: cover;
}

#work {
  margin-top: 120px;
  margin-bottom: 120px;
}



/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-mf .card {
  max-width: 400px; 
  margin: 0 auto; 
  
}

.carousel-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 24, 0.1); 
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


.footer-paralax {
  padding: 4rem 0 0 0;
}

.card {
  margin: 100px auto 100px;
  border: none;
  text-align: left;
  max-width: 600px;
}

.card p {
  font-size: 20px;
  margin-bottom: 20px;
}

#lets-work {
  background-color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 30px;
}

.card-body {
  padding: 10px;
}


label {
  display: block;
  margin-bottom:  5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 150px;
}

.btn-primary {
  background-color: #5669DB;
  color:white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  width: 38%;
  
}

@media (max-width: 767px) {
  .btn-primary {
    width:100%;
  }
}

.btn-primary:hover {
  background-color: white;
  border: 2px solid #5669DB;
  color: #5669DB;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #4e4e4e;
  padding: 25px 0;
  background: #dedddd;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color:#FF2D20;
}

.credits a {
  text-decoration: none;
  color: #FF2D20;
}

.credits a:hover {
  text-decoration: underline;
  color: #FF2D20;
}

/*--------------------------------------------------------------
# Socials
--------------------------------------------------------------*/

.social-icons {
  text-align: center;
  margin-top: -5px;
}

.social-icons a {
  display: inline-block;
  margin: 0 5px; 
  color:#5669DB ;
  font-size: 30px;
}

.social-icons a:hover {
  color: #a1a1a1; 
}